
body {
    background-color: black;
    color: white;
    zoom: 2;
}

    a {
    text-decoration: none;
}

#myTitle {
    text-align: center;
    box-sizing: border-box;
   margin: auto;
    padding: auto;
}


hr {
    border: none;
    height: 2px;
    background-color: rgb(67, 67, 67);
}

#button1 {
    display: block;
    margin: 18px auto 0 auto;
    background-color: red;
    color: white;
    text-align: center;
    transition: background-color 0.2s;
    border-radius: 12px;
    box-shadow: 0 4px 24px white;
    top: 40px;
    position: relative;
}
#button1:hover {
    background-color: darkred;
    color: white;
    cursor: pointer;
    border: 2px solid gray;
}
mark {
    background-color: rgb(212, 16, 16);
    color: white;
    animation: flash-shadow 1s infinite alternate;
border-radius: 10px;
}
@keyframes flash-shadow {
    from {
        box-shadow: 0 0 50px rgb(255, 49, 49);
    }
    to {
        box-shadow: 0 0 20px black;
    }
}

#Version {
    text-align: center;
    max-width: 100vw;
    box-sizing: border-box;
    padding: auto;
    margin: auto;}